<body>
  <header></header>
  <player></player>
  <main>
    <div>
      <h3>🎧️ Recomendadas para você</h3>
      <div class="musicGrid">
        <music
          class="el1"
          name="Epic Suspenseful Fight Scene"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop id='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/33569.mp3'/></audio>"
          author="FesliyanStudios"
        >
        </music>
        <music
          class="el2"
          name="Newtonia I"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/82340.mp3'/></audio>"
          author="Nevan Alexanian"
        >
        </music>
        <music
          class="el3"
          name="Star Orbiting"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/44765.mp3'/></audio>"
          author="Mr. Scientific"
        >
        </music>
        <music
          class="el4"
          name="Spirit of the Wind"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/29876.mp3'/></audio>"
          author="Fantasy Celtic Music"
        >
        </music>
      </div>
    </div>

    <div>
      <h3>🎧️ Épicas e Aventura</h3>
      <div class="musicGrid">
        <music
          class="el1"
          name="New Frontiers"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/99854.mp3'/></audio>"
          author="Atom Music"
        ></music>
        <music
          class="el2"
          name="Titan Stiker"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/29637.mp3'/></audio>"
          author="Evan King"
        ></music>
        <music
          class="el3"
          name="Two Places"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/30261.mp3'/></audio>"
          author="A Himitsu"
        ></music>
        <music
          class="el4"
          name="Flowing Energy"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/84087.mp3'/></audio>"
          author="Keys of Moon"
        ></music>
      </div>
    </div>

    <div>
      <h3>🎧️ Ação</h3>
      <div class="musicGrid">
        <music
          class="el1"
          name="Music The Best 3"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/37789.mp3'/></audio>"
          author="Justin Seven"
        ></music>
        <music
          class="el2"
          name="Ultra"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/19118.mp3'/></audio>"
          author="Savfk"
        ></music>
        <music
          class="el3"
          name="Guardians"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/18506.mp3'/></audio>"
          author="Evan King"
        ></music>
        <music
          class="el4"
          name="Action Royalty Free"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/25868.mp3'/></audio>"
          author="Music4Videos"
        ></music>
      </div>
    </div>

    <div>
      <h3>🎧️ Pode ser que você goste destas...</h3>
      <div class="musicGrid">
        <music
          class="el1"
          name="Skylight"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/33913.mp3'/></audio>"
          author="Infraction"
        ></music>
        <music
          class="el2"
          name="Hello Peter"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/76460.mp3'/></audio>"
          author="Infraction"
        ></music>
        <music
          class="el3"
          name="Falling Down"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/76460.mp3'/></audio>"
          author="Argsound"
        ></music>
        <!--<music
          class=""
          name=""
          thumb=""
          url=""
          author=""
        ></music>-->
      </div>
    </div>

    <div>
      <h3>🎧️ Luta e Batalha</h3>
      <div class="musicGrid">
        <music
          class="el1"
          name="Offensive Aggresive War"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/13245.mp3'/></audio>"
          author="Unknown"
        ></music>
        <music
          class="el2"
          name="Protectors of the Earth"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/64643.mp3'/></audio>"
          author="Two Steps From Hell"
        ></music>
        <music
          class="el3"
          name="Dragon Castle"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/18507.mp3'/></audio>"
          author="Makai Symphony"
        ></music>
        <music
          class="el4"
          name="Dangerous Roads"
          thumb="https://is5-ssl.mzstatic.com/image/thumb/Purple60/v4/20/62/f8/2062f819-c2e3-ab49-2de3-dd5d19c62ffa/mzl.egkkkxek.png/400x400.png"
          url="<audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/81277.mp3'/></audio>"
          author="Argsound"
        ></music>
      </div>
      
    </div>
  </main>
  <foot></foot>
</body>

<!--
  TEMPLATE:
  <audio loop class='audio' controls autoplay><source src='https://redwars22.github.io/Portfolio/resx/[id].mp3'/></audio>
-->
