/* Add application styles & imports to this file! */

body {
  background-image: url('https://i.pinimg.com/originals/10/a2/0c/10a20c11b800f8adf0e36d0757f51b42.png');
  background-position: center;
  background-size: cover;
}